Flask==0.12.2
eventlet==0.21.0
scikit_image==0.13.1
scipy==1.0.0
transforms3d==0.3.1
numpy==1.13.3
matplotlib==2.0.2
tensorflow==1.2.1
pyqtgraph==0.10.0
Pillow==5.0.0
skimage==0.0
socketIO_client==0.7.2
gevent_socketio==0.3.6
